* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lusitana&family=Pixelify+Sans&family=Playpen+Sans:wght@700&display=swap');
  .header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .animEffect {
    background: #ffffff;
    background: linear-gradient(
        180deg, rgb(255, 0, 199, 50%) 0%, rgb(0, 10, 255, 25%) 100%
    );
  }
  #me{
    text-align: center;
    font-family: 'Redressed', cursive;
  }
  @keyframes gradient{ 
    0%{background-position:0 0}
    50%{background-position:18.75em 31.25em}
    100%{background-position:0.1em 0.1em}
  }
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    width: 150px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 13px;
  }
  body{
    font-family: 'Caveat', cursive;
    font-family: 'Lusitana', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(0, 10, 255, 25%);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .text-box{
      width: 90%;
      color: rgb(0, 0, 0);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  .text-box h1{
      font-size: 62px;
  }
  .text-box p{
      margin: 10px 0 40px;
      font-size: 14px;
      color: rgb(0, 0, 0);
  }
  .hero-btn{
      display: inline-block;
      text-decoration: wavy;
      color: rgb(0, 0, 0);
      border: 1px solid black;
      padding: 12px 34px;
      font-size: 13px;
      background: transparent;
      position: relative;
      cursor: pointer;
  }
  .hero-btn:hover{
      border: 1px solid rgb(255, 0, 199, 50%);
      background: rgb(255, 0, 199, 50%);
      transition: 1s;
  }